.button {
  display: inline-block;
  padding: 1.6rem 5.7rem;
  @extend %font-style-main;
  color: $color-light;
  border: none;
  background: $main-gradient;
  @extend %text-center;
  @extend %text-uppercase;
  @extend %cursor-pointer;
  @extend %transition;
  &:hover {
    background: $color-button-hover;
  }

  &:active {
    background: $color-button-active;
  }

  &--main {
    min-width: 298px;
    border-radius: $button-radius-main;
  }

  &--second {
    min-width: 297px;
    border-radius: $button-radius-second;
    padding: 1.6rem 0;
  }
  &--submit {
    width: 129px;
    padding: 0.8rem 3.9rem;
    background: $color-block;
    color: $color-dark;
    border: 1px solid $color-text;
    &:active {
      border: 1px solid $color-button-active;
      color: $color-button-active;
    }
    &.mistake {
      color: $color-error;
      border: 1px solid $color-error;
    }
    &:hover {
      background: $color-block;
      border: 1px solid $color-button-active;
      color: $color-button-active;
    }
  }
}
