.button {
  display: inline-block;
  padding: 1.6rem 0.1rem 1.6rem 0.5rem;
  @extend %font-style-main;
  color: $color-light;
  border: none;
  @extend %text-uppercase;
  @extend %cursor-pointer;
  @extend %transition;
  &:hover {
    background: $color-button-hover;
  }

  &:active {
    background: $color-button-active;
  }

  &--main {
    border-radius: $button-radius-main;
    background: $main-gradient;
    min-width: 292px;
  }

  &--second {
    border-radius: $button-radius-second;
  }
}
