.button {
  min-width: 298px;
  display: inline-block;
  padding: 1.6rem 5.739rem;
  @extend %font-style-main;
  color: $color-light;
  border: none;
  background: $main-gradient;
  @extend %text-center;
  @extend %text-uppercase;
  @extend %cursor-pointer;
  @extend %transition;
  &:hover {
    background: $color-button-hover;
  }

  &:active {
    background: $color-button-active;
  }

  &--main {
    border-radius: $button-radius-main;
  }

  &--second {
    border-radius: $button-radius-second;
  }
}
