.cards__wrapper {
  position: relative;
  padding: 0 0 8rem 0rem;
}

.cards {
  @extend %flex;
  @extend %flex-wrap;
  gap: 1.8rem 3rem;
}

.card {
  border: 1px solid $color-main;
  border-radius: 0.5rem;
  @extend %transition;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  flex-basis: 366px;
  padding-bottom: 0.6rem;
}

.card__description-wrapper {
  @extend %flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.3rem;
}

.card__description {
  @extend %flex;
  @extend %flex-column;
  padding: 0.7rem 0 0.7rem;
}
.card__title {
  @extend %font-style-main;

  @extend %text-uppercase;
}

.card__info {
  @include font($main-size, $line-height-second, $light);
  color: $color-dark;
  letter-spacing: -0.041rem;
}

.arrow__button {
  position: absolute;
  width: 62px;
  height: 62px;
  @extend %inline-flex;
  @extend %al-items-center;
  @extend %js-content-center;
  background: $main-gradient;
  border-radius: 50%;
  @extend %cursor-pointer;
}

.arrow-prev {
  top: 402px;
  left: -83px;
}

.arrow-next {
  top: 402px;
  right: -79px;
}
