.cards__wrapper {
  position: relative;
  padding: 0 0 8rem 0rem;
}

.cards {
  @extend %flex;
  @extend %flex-wrap;
  gap: 1.8rem 3rem;
}

.card {
  flex-basis: 366px;
  padding: 0 0 0.6rem 0;
  border: 1px solid transparent;
  border-radius: $button-radius-second;
  background: $border-background;
  @extend %transition;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}

.card__description-wrapper {
  @extend %flex;
  @extend %al-items-center;
  @extend %js-content-space-between;
  padding-inline: 1.3rem;
}

.card__description {
  @extend %flex;
  @extend %flex-column;
  padding: 0.75rem 0 0.7rem;
  &:hover {
    mix-blend-mode: darken;
  }
}
.card__title {
  @extend %font-style-main;
  @extend %text-uppercase;
}

.card__info {
  @extend %font-info;
  color: $color-dark;
}

.arrow__button {
  position: absolute;
  width: 62px;
  height: 62px;
  @extend %inline-flex;
  @extend %al-items-center;
  @extend %js-content-center;
  background: $main-gradient;
  border-radius: 50%;
  @extend %transition;
  @extend %cursor-pointer;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  &:active {
    background: $color-button-active;
  }
}

.arrow-prev {
  top: 402px;
  left: -83px;
}

.arrow-next {
  top: 402px;
  right: -79px;
}
