.icon {
  display: inline-block;
  &--logo {
    position: absolute;
    bottom: 6px;
    left: 9px;
    width: 12px;
    height: 21px;
    background: url("../icons/bamboo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
