%arrow-icon {
  width: 18px;
  height: 9px;
}

.icon {
  display: inline-block;
  @extend %cursor-pointer;
  &--logo {
    position: absolute;
    bottom: 6px;
    left: 9px;
    width: 12px;
    height: 21px;
    background: url("../icons/bamboo.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--banana {
    width: 33px;
    height: 37px;
    background: url("../icons/fruit/banana.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--meet-fish {
    width: 48px;
    height: 38px;
    background: url("../icons/fruit/meet-fish.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--arrow-next {
    @extend %arrow-icon;
    background: url("../icons/arrows/arrow-next.svg");
  }
  &--arrow-prev {
    @extend %arrow-icon;
    background: url("../icons/arrows/arrow-prev.svg");
  }
}
