.header__nav {
  margin-right: auto;
}
.list {
  @extend %flex;
}

.list__item {
  &:not(:last-child) {
    margin: 0 5.8rem 0 0;
  }
}

.list__link {
  @extend %font-style-main;
  @extend %link-style;
  @extend %transition;
  &--active {
    color: $color-main;
  }
}

.header__list {
  margin: 0 0 0 6.3rem;
}
