.list {
  @extend %flex;
}

.list__item {
  @include font($main-size, $line-height-main, $medium);
  &:not(:last-child) {
    margin: 0 5.8rem 0 0;
  }
}

.list__link {
  color: $color-light;
}

.header__list {
  margin: 0 0 0 6.3rem;
}
