.pets {
  position: relative;
  padding: 4rem 0 10rem;
  overflow: hidden;
}

.pets__button {
  @extend %text-center;
}

.pets__section-img--left {
  width: 292px;
  height: 460px;
  background: url("../images/page/palm.png");
  background-repeat: no-repeat;
  bottom: 0px;
  left: -41px;
}

.pets__section-img--right {
  width: 368px;
  height: 275px;
  background: url("../images/page/strelitzia.png");
  background-repeat: no-repeat;
  right: -40px;
  bottom: 1px;
}
