.pick-and-feed {
  padding: 6.9rem 0 10rem;
  background: $donate-gradient;
}

.pick-and-feed__container {
  max-width: 1163px;
  border-radius: $button-radius-main;
}

.pick-and-feed__content {
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-center;
  @extend %al-items-center;
  padding: 4.1rem 0 6rem;
  background: $color-feed-background;
  border-radius: $section-radius;
}

.pick-and-feed__text-info {
  padding: 0 0 5.9rem 4rem;
}

.pick-and-feed__title {
  padding: 0 4rem 0 0;
  @extend %text-center;
}

.pick-and-feed__description {
  max-width: 863px;
}

.pick-and-feed__title {
  margin: 0 0 3rem 0;
  color: $color-accent-second;
}

.pick-and-feed__subtitle {
  margin: 0 0 4rem 0;
  @extend %subtitle-font;
}

.pick-and-feed__accent {
  @extend %font-style-main;
  line-height: $line-height-info;
  margin: 0 0 1rem 0;
}

.pick-and-feed__description {
  @extend %font-style-main;
  line-height: $line-height-info;
  font-weight: $regular;
}

.support-fundation {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -2px;
    background: $color-accent-second;
  }
}

.how-it-works {
  padding: 0 0 6.4rem;
}
.how-it-works__title {
  margin: 0 0 4rem;
  @extend %text-center;
}

.how-it-works__cards {
  position: relative;
  max-width: 764px;
  @extend %flex;
  @extend %js-content-space-between;
}

.how-it-works__card {
  @extend %flex;
  @extend %flex-column;
  gap: 3rem;
  flex-basis: 168px;
}

.how-it-works__card-icon-block {
  width: 168px;
  height: 168px;
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-center;
  @extend %al-items-center;
  border-radius: $button-radius-second;
  border: 1px solid transparent;
  background: $border-background;
}

.how-it-works__card-title {
  @include font($main-size, $line-height-info, $regular);
}

.how-it-works__icon-step--first {
  position: relative;
  top: 65px;
  right: 1px;
}
.how-it-works__icon-step--second {
  position: relative;
  top: 61px;
  right: 0;
}
