.testimonials {
  position: relative;
  padding: 14rem 0 18rem;
  @extend %overflow-hidden;
}

.testimonials__container {
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  justify-content: space-between;
}

.testimonials__button {
  margin-right: auto;
  padding: 3rem 0 0;
}

/* Testimonial */

.testimonial {
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  @extend %js-content-center;
  padding: 1.3rem 1.5rem 1.9rem 1.2rem;
  border-radius: $section-radius;
  background: $feedback-gradient;
  border: 2px solid transparent;
}

.testimonial__inner {
  @extend %flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 4.5rem 0 2.1rem 0;
}

.testimonial__content {
  max-width: 237px;
  @extend %flex;
  @extend %flex-column;
}

.testimonial__text {
  padding: 1rem 0 0;
  @extend %font-info;
}

.user__content {
  @extend %flex;
  @extend %al-items-center;
  gap: 1rem;
  padding-left: 0.1rem;
}

.user__info {
  position: relative;
  @extend %font-info;
  color: $color-placeholder;
}

.user__dot {
  margin-inline: 3.4px;
}

.testimonials__section-img {
  width: 300.92px;
  height: 295.45px;
  background: url("../images/page/leav.png");
  background-repeat: no-repeat;
  right: -54px;
  bottom: -20px;
}
