/* Abstracts */ /* Color */
/* Gradient */
/*Size*/
/* 106.496px */
/* 19.0145 */
/* Border-radius */
/* Font */
/* Width */
/* Meida quaries */
.testimonials {
  overflow: hidden;
}

input[type=radio], .another-amount__control, .another-amount__controls, .prices, .progress-bar, .amount-of-days, .donate__info, .social__link, .social, .user__content, .testimonial__content, .testimonial__inner, .testimonial, .testimonials__container, .how-it-works__card-icon-block, .how-it-works__card, .how-it-works__cards, .pick-and-feed__content, .hero__content, .hero__container, .header__container, .scroll, .card__description, .card__description-wrapper, .cards, .list, .icon-round, .logo, body {
  display: flex;
}

.arrow__button {
  display: inline-flex;
}

.cards {
  flex-wrap: wrap;
}

.amount-of-days, .social, .testimonial__content, .testimonial, .testimonials__container, .how-it-works__card-icon-block, .how-it-works__card, .pick-and-feed__content, .hero__content, .card__description, .logo, body {
  flex-direction: column;
}

.how-it-works__cards, .header__container, .card__description-wrapper, body {
  justify-content: space-between;
}

input[type=radio], .progress-bar, .donate__info, .testimonial, .how-it-works__card-icon-block, .pick-and-feed__content, .arrow__button, .icon-round, .logo {
  justify-content: center;
}

input[type=radio], .another-amount__control, .progress-bar, .amount-of-days, .donate__info, .user__content, .testimonial, .testimonials__container, .how-it-works__card-icon-block, .pick-and-feed__content, .hero__content, .header__container, .arrow__button, .card__description-wrapper, .icon-round, .logo {
  align-items: center;
}

/* %font-add {
  font-family: $font-family-second;
} */
.header-copyright, .list__link {
  color: #ffffff;
}
.header-copyright:hover, .list__link:hover {
  color: #f9804b;
}

.user__info, .testimonial__text, .card__info {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
  font-style: normal;
}

.pick-and-feed__subtitle, h4 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
  font-style: normal;
}

.donate__message, .another-amount__control, .amount__block input, .amount-of-days__info, .donate__text, .social__title, .pick-and-feed__description, .pick-and-feed__accent, .header-copyright, .subscribe__form input[type=submit], .subscribe-line::placeholder, .card__title, .list__link, .button, h5 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  font-style: normal;
}

.how-it-works__title, .pick-and-feed__title, .pets__button, .hero__title, .logo__title, .button {
  text-align: center;
}

.card__title, .button {
  text-transform: uppercase;
}

.social__title, .social__link:hover .icon-round, .social__link:hover .social__title, .social__link, .header-copyright, .scroll__line, .arrow__button, .card__description-wrapper:hover, .card__description-wrapper, .card__img, .card:hover .card__description-wrapper, .card:hover .card__img, .card, .copyright, .list__link, .button {
  transition: ease-in-out 0.5s;
}

.progress-roller, .subscribe__form input[type=submit], .scroll__line--progress, .arrow__button, .card, .icon, .logo, .button {
  cursor: pointer;
}

/* Vendors */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Base */
body {
  /*   min-width: 1190px;
  */
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #333b41;
  background: #ffffff;
}

/*Basic styles*/
html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow: auto;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer,
header,
article {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-size: 1.9rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

h2 {
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 3.6rem;
  line-height: 4.7rem;
  font-weight: 400;
  font-style: normal;
}

h5 {
  color: #000000;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoThin.woff") format("woff"), url("../fonts/RobotoThin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/*Utilities  */
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

/* Components */
.button {
  display: inline-block;
  padding: 1.6rem 5.7rem;
  color: #ffffff;
  border: none;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.button:hover {
  background: #e47209;
}
.button:active {
  background: #4b9200;
}
.button--main {
  min-width: 298px;
  border-radius: 2.5rem;
}
.button--second {
  min-width: 297px;
  border-radius: 0.5rem;
  padding: 1.6rem 0;
}

.logo {
  position: relative;
  width: 82px;
  min-height: 52px;
  padding: 0.3 0.55rem 0.4 0.75rem;
  border: 1px solid #ffffff;
}

.logo__title {
  padding: 0.2rem 0 0;
  color: #ffffff;
}

.icon--arrow-prev, .icon--arrow-next {
  width: 18px;
  height: 9px;
}

.icon {
  display: inline-block;
  /*   &--price {
    width: 10px;
    height: 20px;
    background: url("../icons/donation/dollar.svg");
    background-repeat: no-repeat;
    background-position: center;
  } */
}
.icon--logo {
  position: absolute;
  bottom: 6px;
  left: 9px;
  width: 12px;
  height: 21px;
  background: url("../icons/bamboo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--banana {
  width: 33px;
  height: 37px;
  background: url("../icons/fruit/banana.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--meet-fish {
  width: 48px;
  height: 38px;
  background: url("../icons/fruit/meet-fish.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--arrow-next {
  background: url("../icons/arrows/arrow-next.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--arrow-prev {
  background: url("../icons/arrows/arrow-prev.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--pay {
  width: 120px;
  height: 108px;
  background: url("../icons/donation/pay.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--step {
  width: 70px;
  height: 36px;
  background: url("../icons/donation/step-first.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--zoo {
  width: 85px;
  height: 95px;
  background: url("../icons/donation/zoo.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--monkey {
  width: 124.75px;
  height: 71.6px;
  background: url("../icons/donation/monkey.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.icon--user {
  width: 37px;
  height: 37px;
  background: url("../icons/user.svg");
}
.icon--meta {
  width: 8px;
  height: 16px;
  background: url("../icons/social/meta.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--twitter {
  width: 16px;
  height: 16px;
  background: url("../icons/social/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--instagram {
  width: 16px;
  height: 16px;
  background: url("../icons/social/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--youtube {
  width: 16px;
  height: 16px;
  background: url("../icons/social/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--panda-widget {
  width: 284px;
  height: 246px;
  background: url("../icons/animals/panda.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon--multiply {
  width: 14px;
  height: 14px;
  background: url("../icons/multiply.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-round {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
}

.header__nav {
  margin-right: auto;
}

.list__item:not(:last-child) {
  margin: 0 5.8rem 0 0;
}

.list__link--active {
  color: #f9804b;
  pointer-events: none;
}

.header__list {
  margin: 0 0 0 6.3rem;
}

.position__img {
  position: absolute;
}

.hide-text {
  display: none;
}

.copyright {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 100;
  font-style: normal;
  color: #ffffff;
}
.copyright:hover {
  color: #4b9200;
}

.copyright__company {
  padding: 1rem 0 0;
}

.cards__wrapper {
  position: relative;
  padding: 0 0 8rem 0rem;
}

.cards {
  gap: 1.8rem 3rem;
}

.card {
  position: relative;
  flex-basis: 366px;
  padding: 0 0 0.6rem 0;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%) border-box;
  overflow: hidden;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card:hover .card__img {
  transform: scale(1.028);
  opacity: 0.6;
}
.card:hover .card__description-wrapper {
  transform: translateY(-90%);
  background: rgba(0, 0, 0, 0.4);
}

.card__img:hover {
  transform: scale(1.028);
}

.card__description-wrapper {
  padding-inline: 1.3rem;
}
.card__description-wrapper:hover {
  transform: translateY(-90%);
  background: rgba(0, 0, 0, 0.4);
}

.card__description {
  padding: 0.75rem 0 0.7rem;
}

.card__info {
  color: #000000;
}

.arrow__button {
  position: absolute;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
}
.arrow__button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.arrow__button:active {
  background: #4b9200;
}

.arrow-prev {
  top: 402px;
  left: -83px;
}

.arrow-next {
  top: 402px;
  right: -79px;
}

.scroll {
  position: relative;
  width: 599px;
  min-height: 9px;
}

.scroll__line {
  display: block;
  width: 100%;
  background: linear-gradient(#f1f3f2, #f1f3f2) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%) border-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
.scroll__line--progress {
  position: absolute;
  left: 0;
  width: 115.1px;
  height: 7px;
  background: #fe9013;
}
.scroll__line--progress:hover {
  background: #e47209;
}

.testimonials__scroll {
  margin: 0 0.4rem 0 0;
}

.testimonials__section-img {
  width: 368px;
  height: 275px;
  background: url("../images/page/strelitzia.png");
  background-repeat: no-repeat;
  right: -40px;
  bottom: 1px;
}

.subscribe__title {
  color: #ffffff;
  margin: 0 0 1.4rem;
}

.subscribe__form {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.subscribe-line {
  outline: none;
  border: 0.8px solid transparent;
  padding: 1rem 0.7rem 1rem 1rem;
  background: linear-gradient(#111115, #111115) padding-box, linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%), border-box;
  color: #ffffff;
  font-size: 1.6rem;
}
.subscribe-line::placeholder {
  font-weight: 400;
  color: #bdbdbd;
}

.subscribe__form input[type=email]:focus {
  background: #f1f3f2;
  color: #d31414;
  border: 1px solid #d31414;
}
.subscribe__form input[type=email]:focus::placeholder {
  color: #d31414;
}

.subscribe__form input[type=email]:valid {
  background: #f1f3f2;
  color: #d31414;
  border: 1px solid #d31414;
}
.subscribe__form input[type=email]:valid::placeholder {
  color: #d31414;
}

.subscribe__form input[type=submit] {
  max-width: 129px;
  width: 100%;
  padding: 0.8rem 3.9rem;
  background: #f1f3f2;
  color: #000000;
  border: 1px solid #333b41;
}

.subscribe-line:focus ~ .subscribe-submit {
  background: #f1f3f2;
  color: #d31414;
  border-color: #d31414;
}

.subscribe-line:valid ~ .subscribe-submit {
  background: #f1f3f2;
  color: #000000;
  border-color: #333b41;
}

/* Layout  */
.header {
  padding: 1.4rem 0;
  background: #000000;
}

.hero {
  background: url("../images/bg/bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.hero__container {
  position: relative;
  justify-content: flex-end;
  padding-top: 8.6rem;
}

.hero__content {
  position: relative;
  max-width: 500px;
  gap: 6rem;
  margin-bottom: 10rem;
}

.hero__cicle {
  position: absolute;
  top: 12px;
  right: 125px;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
}

.hero__title {
  font-size: 10.65rem;
  line-height: 8rem;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}
.hero__title--accent {
  color: #ffee2e;
}

.backstage__text, .backstage__info {
  font-size: 1.6rem;
}

.backstage {
  overflow: hidden;
}

.backstage__container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr minmax(465px, 1fr);
  padding: 14rem 1.5rem;
  gap: 8.7rem;
}

.backstage__position-img {
  position: absolute;
  top: 13px;
  right: -293px;
  height: 605px;
  width: 293px;
  background: url("../images/page/flower.png");
  background-repeat: no-repeat;
}

.backstage__title {
  margin: 0 0 2rem 0;
}

.backstage__info {
  margin: 0 0 5.4rem 0;
  line-height: 2.1rem;
}

.backstage__subtitle {
  margin: 0 0 3.4rem 0;
}

.backstage__text {
  line-height: 2.2rem;
}

.pets {
  position: relative;
  padding: 4rem 0 10rem;
  overflow: hidden;
}

.pets__section-img--left {
  width: 292px;
  height: 460px;
  background: url("../images/page/palm.png");
  background-repeat: no-repeat;
  left: 0;
  bottom: 1px;
}

.pets__section-img--right {
  width: 368px;
  height: 275px;
  background: url("../images/page/strelitzia.png");
  background-repeat: no-repeat;
  right: 0px;
  bottom: 1px;
}

.pick-and-feed {
  padding: 6.9rem 0 10rem;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}

.pick-and-feed__container {
  max-width: 1163px;
  border-radius: 2.5rem;
}

.pick-and-feed__content {
  padding: 4.1rem 0 6rem;
  background: rgba(253, 253, 255, 0.5215686275);
  border-radius: 2rem;
}

.pick-and-feed__text-info {
  padding: 0 0 5.9rem 4rem;
}

.pick-and-feed__title {
  padding: 0 4rem 0 0;
}

.pick-and-feed__description {
  max-width: 863px;
}

.pick-and-feed__title {
  margin: 0 0 3rem 0;
  color: #fe9013;
}

.pick-and-feed__subtitle {
  margin: 0 0 4rem 0;
}

.pick-and-feed__accent {
  line-height: 2.1rem;
  margin: 0 0 1rem 0;
}

.pick-and-feed__description {
  line-height: 2.1rem;
  font-weight: 400;
}

.support-fundation {
  position: relative;
}
.support-fundation::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -2px;
  background: #fe9013;
}

.how-it-works {
  padding: 0 0 6.4rem;
}

.how-it-works__title {
  margin: 0 0 4rem;
}

.how-it-works__cards {
  position: relative;
  max-width: 764px;
}

.how-it-works__card {
  gap: 3rem;
  flex-basis: 168px;
}

.how-it-works__card-icon-block {
  width: 168px;
  height: 168px;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%) border-box;
}

.how-it-works__card-title {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 400;
  font-style: normal;
}

.how-it-works__icon-step--first {
  position: relative;
  top: 65px;
  right: 1px;
}

.how-it-works__icon-step--second {
  position: relative;
  top: 61px;
  right: 0;
}

.testimonials {
  position: relative;
  padding: 14rem 0 18rem;
}

.testimonials__container {
  justify-content: space-between;
}

.testimonials__button {
  margin-right: auto;
  padding: 3rem 0 0;
}

/* Testimonial */
.testimonial {
  padding: 1.3rem 1.5rem 1.9rem 1.2rem;
  border-radius: 2rem;
  background: linear-gradient(#f1f3f2, #f1f3f2) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%) border-box;
  border: 2px solid transparent;
}

.testimonial__inner {
  justify-content: space-between;
  gap: 3rem;
  padding: 4.5rem 0 2.1rem 0;
}

.testimonial__content {
  max-width: 237px;
}

.testimonial__text {
  padding: 1rem 0 0;
}

.testimonials__scroll input[type=range] {
  appearance: none;
  -webkit-appearance: none;
}
.testimonials__scroll input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.user__content {
  gap: 1rem;
  padding-left: 0.1rem;
}

.user__info {
  position: relative;
  color: #bdbdbd;
}

.user__dot {
  margin-inline: 3.4px;
}

.testimonials__section-img {
  width: 300.92px;
  height: 295.45px;
  background: url("../images/page/leav.png");
  background-repeat: no-repeat;
  right: -54px;
  bottom: -20px;
}

.footer {
  padding: 4.1rem 0 5rem;
  background: #111115;
}

.footer__content {
  display: grid;
  grid-template-areas: "logo nav nav subscribe" "donate nav nav subscribe" "social nav nav copyright";
}

.logo {
  grid-area: logo;
}

.navigation {
  grid-area: nav;
}

.subscribe {
  grid-area: subscribe;
}

.copyright {
  grid-area: copyright;
}

.social {
  grid-area: social;
}

.footer__button {
  max-width: 290px;
  grid-area: donate;
}

/* Footer content */
.footer__logo {
  margin: 0 0 6.8rem 0;
}

.footer__button {
  margin: 0 0 4.4rem 0;
}

.footer__nav {
  align-self: end;
}

.footer__subscribe {
  justify-self: end;
}

.footer__copyright {
  align-self: end;
  justify-self: end;
}

.social {
  gap: 1rem;
}

.social__link {
  max-width: 111px;
  width: 100%;
  gap: 1rem;
}
.social__link:hover .social__title {
  color: #4b9200;
}
.social__link:hover .icon-round {
  background: #4b9200;
}

.social__title {
  color: #ffffff;
  font-weight: 400;
  align-self: end;
}

/* Pages */
.donate__hero {
  width: 100%;
  min-height: 390px;
  background: url("../images/bg/donation-bg.jpg");
  background-size: cover;
  background-position: center;
}

.donate__container {
  max-width: 1190px;
}

.donate__pick-and-feed {
  padding: 3.5rem 0 18rem;
}

.donate-pick-and__content {
  padding: 4.1rem 0 3rem;
}

.donate__title {
  color: #ffffff;
  font-size: 3.3rem;
  text-transform: uppercase;
  margin: 0 0 1rem;
}

.donate__text {
  color: #ffffff;
  margin: 0 0 4.7rem;
}

.donate__accent {
  color: #fe9013;
  margin: 0 0 6rem;
}

.donate-pick-and-feed__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}
.donate-pick-and-feed__inner .pick-and-feed__text-info {
  padding: 0;
}
.donate-pick-and-feed__inner .pick-and-feed__title {
  margin: 0 0 2rem 0;
  padding: 0 2rem 0 0;
}
.donate-pick-and-feed__inner .pick-and-feed__subtitle {
  font-size: 2.37rem;
}

.donate__info {
  position: relative;
  gap: 8.9rem;
  padding: 1.9rem 1.1rem 4.5rem 0;
}

.amount-of-days {
  gap: 1.1rem;
  padding: 5.2rem 0 0;
}

.amount-of-days__donate {
  font-size: 72px;
  line-height: 58px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

.amount-of-days__info {
  font-weight: 400;
}

.amount__multiply {
  position: absolute;
  top: 149px;
  left: 386px;
}

/* Amount */
.amount__title {
  padding: 0 0 0 0.4rem;
  margin: 0 0 1.7rem 0;
}

/* Progress bar */
.dontaion__progress-bar {
  margin: 0 0 1.3rem 0;
}

.progress-bar {
  max-width: 976px;
  width: 100%;
  height: 27px;
  background: #404950;
  border-radius: 2px;
}

.progress-line {
  position: relative;
  max-width: 915px;
  width: 100%;
  height: 2px;
  background: #72828e;
}

.progress-rollers {
  position: absolute;
  bottom: -3.1px;
  left: -4.5px;
  display: flex;
  gap: 12rem;
}

.progress-roller {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  background: #ffee2e;
  border-radius: 50%;
}
.progress-roller--active:after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7.1px;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 2px solid #fe9013;
  border-radius: 50%;
}
.progress-roller--active::before {
  content: "";
  position: absolute;
  bottom: -16.5px;
  left: -15px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fe9013;
  border-radius: 50%;
}

/* Prices */
.prices {
  max-width: 952px;
  width: 100%;
  justify-content: space-between;
}

.price {
  position: relative;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 500;
  font-style: normal;
}
.price::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -10px;
  width: 10px;
  height: 20px;
  background: url("../icons/donation/dollar.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.price--active {
  color: #fe9013;
  filter: invert(57%) sepia(93%) saturate(1305%) hue-rotate(350deg) brightness(101%) contrast(99%);
}

.price:first-child {
  margin: 0 0 0 1rem;
}
.price:nth-child(2) {
  margin: 0 0 0 6rem;
}
.price:nth-child(3) {
  margin: 0 0 0 6rem;
}
.price:nth-child(4) {
  margin: 0 0 0 6rem;
}
.price:nth-child(5) {
  margin: 0 0 0 7.4rem;
}
.price:nth-child(6) {
  margin: 0 0 0 7.4rem;
}
.price:nth-child(7) {
  margin: 0 0 0 7.4rem;
}
.price:nth-child(8) {
  margin: 0 0 0 7.6rem;
}
.price:last-child {
  margin: 0 0 0 9rem;
}

/* Another amount */
.another-amount__wrapper {
  position: relative;
}

.amount__block {
  max-width: 268px;
  width: 100%;
  position: relative;
}
.amount__block::before {
  position: absolute;
  z-index: 100;
  top: 17px;
  right: 10px;
  content: "";
  width: 10px;
  height: 20px;
  background: url("../icons/donation/dollar.svg");
  background-position: center;
  filter: invert(63%) sepia(6%) saturate(214%) hue-rotate(163deg) brightness(93%) contrast(89%);
}

.amount__block input {
  width: 100%;
  padding: 1.3rem 1rem 1.6rem 0.9rem;
  font-weight: 400;
  background: rgba(253, 253, 255, 0.5215686275);
  border: 1px solid #929699;
  border-radius: 2px;
  color: #000000;
}
.amount__block input::placeholder {
  color: #929699;
}
.amount__block input:focus {
  border: none;
  border: 1px solid #4b9200;
  color: #4b9200;
  outline: none;
}
.amount__block input:focus::placeholder {
  color: #4b9200;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.another-amount__controls {
  gap: 5rem;
  padding: 2.5rem 1.8rem 3rem 0;
}

.another-amount__control {
  gap: 1rem;
}
.another-amount__control:focus-within {
  color: #f9804b;
}

input[type=radio] {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #fe9013;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
}
input[type=radio]::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transform: scale(0);
  transition: ease-in-out 120ms transform;
  box-shadow: inset 1em 1em #e47209;
}
input[type=radio]:checked::before {
  transform: scale(1);
}
input[type=radio]:focus {
  outline: max(2px, 0.2rem) solid #f9804b;
  outline-offset: max(2px, 0.2rem);
}

.another-amount__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 3.1rem;
}

.donation-pick-and-feed__button {
  margin: 0 0 0 0.65rem;
}

.donate__message {
  padding: 3.1rem 0 0;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
