/* Abstracts */ /* Color */
/* Gradient */
/* Size */
/* 106.496px */
/* 19.0145 */
/* Border-radius */
/* Font */
/* Width */
/* Meida quaries */
.hero__content, .hero__container, .header__container, .card__description, .card__description-wrapper, .cards, .list, .logo, body {
  display: flex;
}

.arrow__button {
  display: inline-flex;
}

.cards {
  flex-wrap: wrap;
}

.hero__content, .card__description, .logo, body {
  flex-direction: column;
}

.header__container, .card__description-wrapper, body {
  justify-content: space-between;
}

.arrow__button, .logo {
  justify-content: center;
}

.hero__content, .header__container, .arrow__button, .logo {
  align-items: center;
}

/* %font-add {
  font-family: $font-family-second;
} */
.copyright-auther, .list__link {
  color: #ffffff;
}
.copyright-auther:hover, .list__link:hover {
  color: #f9804b;
}

.copyright-auther, .list__link, .button, h5 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  font-style: normal;
}

.card__info {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
  font-style: normal;
}

.pets__button, .hero__title, .logo__title {
  text-align: center;
}

.card__title, .button {
  text-transform: uppercase;
}

.card, .copyright-auther, .list__link, .button {
  transition: ease-in-out 0.5s;
}

.arrow__button, .icon, .logo, .button {
  cursor: pointer;
}

/* Vendors */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Base */
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #333b41;
  background: #ffffff;
}

/*Basic styles*/
html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow: auto;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer,
header,
article {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-size: 1.9rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

h2 {
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 3.6rem;
  line-height: 4.7rem;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
  font-style: normal;
}

h5 {
  color: #000000;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/*Utilities  */
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

/* Components */
.button {
  display: inline-block;
  padding: 1.6rem 0.1rem 1.6rem 0.5rem;
  color: #ffffff;
  border: none;
}
.button:hover {
  background: #e47209;
}
.button:active {
  background: #4b9200;
}
.button--main {
  border-radius: 2.5rem;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  min-width: 292px;
}
.button--second {
  border-radius: 0.5rem;
}

.logo {
  position: relative;
  width: 82px;
  min-height: 52px;
  padding: 0.3 0.55rem 0.4 0.75rem;
  border: 1px solid #ffffff;
}

.logo__title {
  padding: 0.2rem 0 0;
  color: #ffffff;
}

.icon--arrow-prev, .icon--arrow-next {
  width: 18px;
  height: 9px;
}

.icon {
  display: inline-block;
}
.icon--logo {
  position: absolute;
  bottom: 6px;
  left: 9px;
  width: 12px;
  height: 21px;
  background: url("../icons/bamboo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--banana {
  width: 33px;
  height: 37px;
  background: url("../icons/fruit/banana.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--meet-fish {
  width: 48px;
  height: 38px;
  background: url("../icons/fruit/meet-fish.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--arrow-next {
  background: url("../icons/arrows/arrow-next.svg");
}
.icon--arrow-prev {
  background: url("../icons/arrows/arrow-prev.svg");
}

.header__nav {
  margin-right: auto;
}

.list__item:not(:last-child) {
  margin: 0 5.8rem 0 0;
}

.list__link--active {
  color: #f9804b;
}

.header__list {
  margin: 0 0 0 6.3rem;
}

.position__img {
  position: absolute;
}

.cards__wrapper {
  position: relative;
  padding: 0 0 8rem 0;
}

.cards {
  justify-content: space-around;
  gap: 2rem;
}

.card {
  border: 1px solid #f9804b;
  border-radius: 0.5rem;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card__description-wrapper {
  padding: 0.51rem 1.1rem 1.2rem 1.4rem;
}

.card__info {
  color: #000000;
}

.arrow__button {
  position: absolute;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
}

.arrow-prev {
  top: 45.4%;
  left: -52px;
  transform: translate(-50%, -50%);
}

.arrow-next {
  top: 42.2%;
  right: -79.5px;
}

/* Layout  */
.header {
  padding: 1.4rem 0;
  background: #000000;
}

.hero {
  background: url("../images/bg/bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.hero__container {
  position: relative;
  justify-content: flex-end;
  padding-top: 8.6rem;
}

.hero__content {
  position: relative;
  max-width: 500px;
  gap: 6rem;
  margin-bottom: 10rem;
}

.hero__cicle {
  position: absolute;
  top: 12px;
  right: 125px;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
}

.hero__title {
  font-size: 10.65rem;
  line-height: 8rem;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}
.hero__title--accent {
  color: #ffee2e;
}

.backstage__text, .backstage__info {
  font-size: 1.6rem;
}

.backstage {
  overflow: hidden;
}

.backstage__container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr minmax(465px, 1fr);
  padding: 14rem 1.5rem;
  gap: 8.7rem;
}

.backstage__position-img {
  position: absolute;
  top: 10px;
  right: -294px;
  height: 605px;
  width: 293px;
  background: url("/src/images/page/flower.png");
  background-repeat: no-repeat;
}

.backstage__title {
  margin: 0 0 2rem 0;
}

.backstage__info {
  margin: 0 0 5.4rem 0;
  line-height: 2.1rem;
}

.backstage__subtitle {
  margin: 0 0 3.4rem 0;
}

.backstage__text {
  line-height: 2.2rem;
}

.pets {
  padding: 4rem 0 0;
}

/* Pages */
/* @import "pages/pets-page";
 */

/*# sourceMappingURL=main.css.map */
